body {
    padding:15px 0 0 0;
    margin:0;
    font:76% tahoma, verdana, sans-serif;
    background:#e0e0e0;
    color:#303030;
    }
#menu{
margin:10px auto -13px auto;
font-size:0.8em;
width:760px;

}
#menu p {
    text-align:right;
    color:#808080;
}
    