

#panel {
	width: 400px; 
	margin: auto; 
	padding: 0; 
	background: #fff;
	border: 1px solid silver;
	font: 16px calibri;
	letter-spacing: -1px;
	padding: 15px 0 0;
	-webkit-box-shadow: 0 0 2px silver; 
    -moz-box-shadow: 0 0 2px silver; 
    box-shadow: 0 0 2px silver; 
}
#send{
    width: 105px;
    padding: 5px 13px;
    position: relative;
    left: 14px;
    margin-bottom: 3px;
    
}
form {margin: 0;}
label {
	display: block;
	width: 260px;
	padding: 10px 20px;
	color: #000000;
	font-size: 16px;
}
#username, #password {
	font-size: 22px;
    display: block;
    width: 360px;
    margin: 0 auto;
    padding: 10px 5px;
    border: 1px solid #f6f7f7;
    outline: 5px solid #1c8c98;
}
#email {
	font-size: 22px;
    display: block;
    width: 360px;
    margin: 0 auto;
    padding: 10px 5px;
    border: 1px solid #f6f7f7;
    outline: 5px solid #1c8c98;
}

#username, #password2 {
	font-size: 22px;
    display: block;
    width: 360px;
    margin: 0 auto;
    padding: 10px 5px;
    border: 1px solid #f6f7f7;
    outline: 5px solid #1c8c98;
}
#username:focus, #password:focus {
	outline: 5px solid #e5f2f8;
}
#lower {
	background: #ecf2f5;
	width: 360px;
	padding: 15px 20px;
	margin-top: 20px;
}
#center{
	width:100%;
	height: 100%;
	padding-top: 2%;
}
.check {
	display: inline;
	float: none;
	font-size: 11px;
	padding: 5px;
}
input[type="submit"] {
    width: 95px;
    padding: 5px 13px;
    position: relative;
    left: 14px;
    margin-bottom: 3px;
}
button[type="submit"] {
    width: 95px;
    padding: 5px 13px;
    position: relative;
    left: 14px;
    margin-bottom: 3px;
}

#rejestruj{
    width: 105px;
    padding: 5px 13px;
    position: relative;
    left: 14px;
    margin-bottom: 3px;
}
#centerI{
    width: 50%;
    height: 60%;
    padding: 1%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    font-family: math;
    font-size: large;
    background-color: white;
}
#opis_index{
    text-align: left;
    
}

#rejestr{
    width: 95px;
    padding: 5px 12px;
    position: relative;
    left: 192px;
    margin-bottom: 3px;
}


body {
    padding:0 0 0 0;
    margin:0;
    font:76% tahoma, verdana, sans-serif;
	background: #366d7e;
    color:#303030;
    }
#menu{
    margin:10px auto -13px auto;
    font-size:0.8em;
    width:760px;

}
#menu p {
    text-align:right;
    color:#808080;

}
.nag-tab {
    padding:4px 5px 3px 5px;
    margin:0 0 0 4px;
    text-decoration:none;
    background:#f0f0f0 url(images/rog2.gif) top right no-repeat;
    color:#808080;
    border-bottom:1px solid #e0e0e0;
}

.nag-tab:hover {
    background:#fafafa url(images/rog2.gif) top right no-repeat;
    border-bottom:1px solid #eaeaea;
    color:#505050;
    text-decoration:none;
}

.nag-tab-aktywny {
    padding:4px 5px 3px 5px;
    margin:0 0 0 4px;
    color:#505050;
    text-decoration:none;
    background:#ffffff url(images/rog2.gif) top right no-repeat;
    border-bottom:1px solid #ffffff;
}

.nag-tab-aktywny:hover {
    text-decoration:none;
    border-bottom:1px solid #ffffff;
}


#menu{
    margin:10px auto -13px auto;
    font-size:0.8em;
    width:760px;

}
#menu p {
    text-align:right;
    color:#808080;

}
.nag-tab {
    padding:4px 5px 3px 5px;
    margin:0 0 0 4px;
    text-decoration:none;
    background:#f0f0f0 url(images/rog2.gif) top right no-repeat;
    color:#808080;
    border-bottom:1px solid #e0e0e0;
}

.nag-tab:hover {
    background:#fafafa url(images/rog2.gif) top right no-repeat;
    border-bottom:1px solid #eaeaea;
    color:#505050;
    text-decoration:none;
}

.nag-tab-aktywny {
    padding:4px 5px 3px 5px;
    margin:0 0 0 4px;
    color:#505050;
    text-decoration:none;
    background:#ffffff url(images/rog2.gif) top right no-repeat;
    border-bottom:1px solid #ffffff;
}

.nag-tab-aktywny:hover {
    text-decoration:none;
    border-bottom:1px solid #ffffff;
}